/* general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: sans-serif;
  font-size: 20px;
}

ul {
  margin: 20px 40px;
  list-style: decimal;
}

/* main */
.title {
  margin: 20px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
